
<footer>
  UI Library &copy;Le Wagon.
  Created by
  <a href="https://www.linkedin.com/in/raphael-resende-breitschaft-426685163/" target="_blank"> Raphael Resende</a>.
  Code on
  <a href="https://github.com/raphael-rbbr/whatchlist-plus" target="_blank">GitHub</a>.
</footer>
